<link rel="stylesheet" href="/css/form_add_student.css">
<div id="form_add_student" style="margin-top: 3rem; margin-bottom: 10rem;">

    <form action="/students/create" method="post">
  
            <label for="batch">Batch:</label>
            <input type="text" id="batch" name="batch" required><br><br>
            
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            
            <label for="contact">Contact:</label>
            <input type="tel" id="contact" name="contact" required><br><br>
            
            <label for="college">College:</label>
            <input type="text" id="college" name="college" required><br><br>
            
            <label for="placement">Placement:</label>
            <select id="placement" name="placement" required>
              <option value="Placed">Placed</option>
              <option value="Not Placed">Not Placed</option>
            </select><br><br>
            
            <label for="dsa">DSA:</label>
            <input type="text" id="dsa" name="dsa" required><br><br>
            
            <label for="web">Web:</label>
            <input type="text" id="web" name="webd" required><br><br>
            
            <label for="react">React:</label>
            <input type="text" id="react" name="react" required><br><br>
            
            <input type="submit" value="Add Student">
          </form>
          

</div>
  